.myCard {
   background-color: transparent;
   height: 350px;
   perspective: 1000px;
   margin-top: 35px;
}

.title {
   font-size: 18px;
   font-weight: 600;
   margin: 0;
   position: absolute;
   bottom: 10%;
   left: 7%;
}

.innerCard {
   position: relative;
   width: 100%;
   height: 100%;
   text-align: center;
   transition: transform 0.8s;
   transform-style: preserve-3d;
   cursor: pointer;
}

.myCard:hover .innerCard {
   transform: rotateY(180deg);
}

.frontSide,
.backSide {
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   width: 100%;
   height: 100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   border: 1px solid rgba(255, 255, 255, 0.8);

   color: white;
   box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
   font-weight: 700;
}

.frontSide,
.frontSide::before {

   background-image: linear-gradient(160deg, #79c8f5ae 0%, #80D0C7 100%);
}

.backSide,
.backSide::before {
   background-image: linear-gradient(160deg, #79c8f5ae 0%, #80D0C7 100%);
}

.backSide {
   transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   content: '';
   width: 110%;
   height: 110%;
   position: absolute;
   z-index: -1;
   filter: blur(20px);
   animation: animate 5s linear infinite;
}

@keyframes animate {
   0% {
      opacity: 0.3;
   }

   80% {
      opacity: 1;
   }

   100% {
      opacity: 0.3;
   }
}

.myCard img {
width: 100%;
height: 100%;
}
.myCard {
   position: relative;
}

.gal-head {
   position: relative;
   text-align: center;
   padding: 70px 0;
}

.litera2 {
   font-size: 70px;
   position: absolute;
   top: 10%;
   left: 41%;
   color: #1286ca21;
}

.cena {
   font-weight: 700;
}

/* Додайте стилі для ваших відео-блоків тут */

.video-gallery {
   display: flex;
   flex-wrap: wrap;
}

.video-item {
   cursor: pointer;
   transition: transform 0.2s;
   margin-bottom: 20px;
}

.video-item:hover {
   transform: scale(1.05);
}

/* Стилі для попапа */
.video-popup {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 1000;
   text-align: center;
   padding: 20px;
}

.popup-video {
   width: 80%;
   max-height: 80%;
   margin: 0 auto;
}

.close {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 24px;
   cursor: pointer;
   color: white;
}
.video video {
   width: 97%;
   height: 250px;
}
#video-head {
   text-align: center;
}
.po-wizyt img{
   height: 250px;
   width: 100%;
   margin-bottom: 20px;
}




@media screen and (max-width: 768px) {
   .gal-head {
      padding: 40px 0;
   }
   .litera2 {
      font-size: 50px;
      top: 5%;
      left: 25%;
   }
     
}